body {
    margin: 0;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    line-height: 24px;
    color:#555;
    background: #fcfcfc;
}
h1,h2,h3,h4,ul,li,p{
    margin: 0;
    padding: 0;
}
.header,.footer{
	width:100%;
	height:60px;
	background:#1c1c1c;
	position:relative;
}
.logo{
	width:100px;
	height:30px;
	margin:5px 10px;
	float:left;
}
.nav{
	position:absolute;
	top:0;
	right:0;
}
.h_right{
	float:right;
	box-sizing:border-box;	
}

.h_right li{
	line-height:60px;
	font-size:14px;
	float:left;
	width:100px;
	color:#000;
}

.h_right li span{
	color:#fff;
}
.h_right li span.white{
	color:#7a7a7a;
}

/*主体左边*/
.container{
	padding:20px;
	background:#cdcdcd;
	overflow:hidden;
	position:relative;
}
.container .main{margin-right:430px}
.main img,figure img,figure{max-width:100%;height:auto}
.left_aside{
	margin:20px 10px;
	padding:10px;
	background:#fff;
	box-shadow:1px 3px 3px  1px #999;
}
figure img{width:160px;}
/*主体右边*/
.right_aside{
    position:absolute;
	right: 20px;
    top: 40px;
	width:400px;
	height:500px;
	padding:10px;
	background:#fff;
	box-shadow:1px 2px 2px  1px #999;
}
.form-horizontal{
	margin:0 auto;
	width:300px;	
}
.control-label{
	margin-right:10px;
	width:85px;
	display:inline-block;
	text-align:right;
	line-height:25px;
}
.form-group{
	margin-top:10px;
	margin-bottom:10px;}
.control-input{width:150px;height:25px;border-radius:5px;}
.buSub{width:100%;height:30px;
		border-radius:5px;
		border:none;background:blue;
		color:#fff;}
/*10 图片 */
figure{
	border:1px solid #999;
	width:160px;
	padding:10px;
	
	margin:10px;
}
/* 表格 */
p.tableInfo {
	margin: 0;
	line-height: 20px;
	text-indent: 0;
}
 table {
	width: 100%;
	font-size: 12px;
	border-collapse: collapse;
}
 table thead {
	background-color: #333;
	color: white;
}
 table td {
	border: 1px solid #eee;
	padding: 5px;
}
 table tfoot {
	background-color: #ccc;
}
 table tfoot td {
	border-width: 0px;
	font-weight: bold;
	font-size: 14px;
}

.footer {
	text-align:center;
	color: white;
	line-height:60px;
}